<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PiCompress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PiCompress.Properties.Settings>
            <setting name="TinifyApiKey1" serializeAs="String">
                <value>Lx_xKeox8S5ULBVyrzDg3IZH3SricUXv</value>
            </setting>
            <setting name="TinifyApiKey2" serializeAs="String">
                <value>4O8zh8GXiJIqQdKv7yoRrR6plE1i8Tzd</value>
            </setting>
            <setting name="TinifyApiKey3" serializeAs="String">
                <value>zBc__zlzCmwnlEgPL-7X0H_BnhjDpfSG</value>
            </setting>
            <setting name="TinifyApiKey4" serializeAs="String">
                <value>IA12GtFPAyLz_QE5xxnRWgyAqbYL8Tqr</value>
            </setting>
            <setting name="TinifyApiKey5" serializeAs="String">
                <value>fI-5v52VQukg2e2ezUW0zfPdzmjFOA5z</value>
            </setting>
            <setting name="TinifyApiKey6" serializeAs="String">
                <value>mCF8Y25CzPAep5_2g3_2zN05QBsnPX2W</value>
            </setting>
            <setting name="TinifyApiKey7" serializeAs="String">
                <value>BU8rFN4g_OiQ8cIVQ5LxtsMWQO2K9tjV</value>
            </setting>
            <setting name="TinifyApiKey8" serializeAs="String">
                <value>VYbc2vrzxQNAqfySiU4r-boLXAyGvA5a</value>
            </setting>
            <setting name="TinifyApiKey9" serializeAs="String">
                <value>-h_fRGdLSzuHdzUFDq8ljT9PI3CGK8OD</value>
            </setting>
            <setting name="TinifyApiKey10" serializeAs="String">
                <value>oo3_SVknTO0SEqDVLrhiA2YBZE_bGUS0</value>
            </setting>
            <setting name="TinifyApiKey11" serializeAs="String">
                <value>rzQujxUmR0XOKuVHuinni5NE5VqzgBE8</value>
            </setting>
            <setting name="TinifyApiKey12" serializeAs="String">
                <value>zDWfA3EPb9TXo2uMjnhhHapgikwPr-br</value>
            </setting>
            <setting name="TinifyApiKey13" serializeAs="String">
                <value>XZnKmW59qmPFuwzDFgaU45bGbF49tyoE</value>
            </setting>
            <setting name="TinifyApiKey14" serializeAs="String">
                <value>7mB438DVDMJOTp21Ly1gOppImu1ie5Zu</value>
            </setting>
            <setting name="TinifyApiKey15" serializeAs="String">
                <value>8qP3fOTy2uBhLPz8AsOn3K4JyKBA37WW</value>
            </setting>
            <setting name="TinifyApiKey16" serializeAs="String">
                <value>rDTUhvVBXaEs3RDE__USBBgj5lCwjAIO</value>
            </setting>
            <setting name="TinifyApiKey17" serializeAs="String">
                <value>TVSFGewstlreXW8uCmADNW_QGRARcvks</value>
            </setting>
            <setting name="TinifyApiKey18" serializeAs="String">
                <value>YyqScjwa-TTUSZd6vZ1M-v4PPnl0upeB</value>
            </setting>
            <setting name="TinifyApiKey19" serializeAs="String">
                <value>CE4afGsO3ZXilUVprbWUfIMyj8QvRd7d</value>
            </setting>
            <setting name="TinifyApiKey20" serializeAs="String">
                <value>z_nqIstWVfhMf4eBxY32lqqRXgqXIkYJ</value>
            </setting>
        </PiCompress.Properties.Settings>
    </userSettings>
</configuration>
